/* 
# Headings, Call To Action, Header Navigation 
font-family: 'Raleway', sans-serif; 

Weight
400, 700
-----------------------------------------------
# Body 
font-family: 'Public Sans', sans-serif;

Weight
400, 700
-----------------------------------------------
Font size: 14px
*/

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
    background: hsl(217, 28%, 15%);
    line-height: 1.3;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav 
{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img 
{
    width: 150px;
}

.nav-links
{
    flex: 1;
    text-align: right;
}

.nav-links ul li 
{
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
}

.nav-links ul li a 
{
    color: #fff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif; 
}

.nav-links ul li a:hover {
    font-weight: 700;
    text-decoration: underline;
}

.h3-align {
    font-size: 35px;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    z-index: 1;
}

.p-align {
    color: white;
    text-align: center;
    line-height: 1.8;
    font-size: 16px;
    position: relative;
    bottom: 25px;
    z-index: 1;
}

.button {
    padding: 13px 50px;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border-radius: 32px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    z-index: 1;
}

.button:hover {
    background:hsl(176, 68%, 64%);
}

.curvy {
    width: 100%;
    position: absolute;
    top: 700px;
}

.background {
    width: 100%;
    height: 2500px;
    background: hsl(218, 28%, 13%);
    position: relative;
    top: 250px;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    flex-basis: 34%;
}

.second-row {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.second-col {
    flex-basis: 34%;
}

.h4-align {
    font-size: 20px;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.third-row {
    display: flex;
    margin-top: 120px;
    justify-content: center;
}

.third-col {
    flex-basis: 50%;
}

.col-align {
    position: relative;
    top: 10px;
}

.h2-align {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}

.third-p {
    font-size: 16px;
    color: white;
    line-height: 1.8;
}

.fylo-link {
    color: hsl(176, 68%, 64%);
    text-decoration: none;
    border-bottom:hsl(176, 68%, 64%) 0.13em solid;
    transition: 0.5s;
}

.fylo-link:hover {
    color: white;
    border-bottom: 0.13em solid white;
}

.semi-colon {
    position: relative;
    top: 210px;
    left: 180px;
}

.fourth-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-col {
    flex-basis: 25%;
    width: 50px;
    height: 270px;
    background: hsl(219, 30%, 18%);
    margin-left: 35px;
    position: relative;
    right: 20px;
    top: 200px;
    box-shadow: 0 0 20px 0 hsl(217, 28%, 15%);
}

.fourth-p {
    font-size: 16px;
    color: white;
    position: absolute;
    top: 25px;
    left: 50px;
    line-height: 1.8;
}


.only-flex img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    top: 35px;
    left: 40px;
}

.only-flex {
    display: flex;
    position: relative;
    top: 150px;
}

.only-flex ul li {
    list-style-type: none;
    color: white;
}

.only-flex-h4 {
    position: relative;
    left: 20px;
    top: 5px;
}

.only-flex-p {
    position: relative;
    left: 20px;
    bottom: 5px;
}

.align-box {
    position: relative;
    top: 450px;
}

.box-background {
    width: 65%;
    height: 325px;
    background: hsl(219, 30%, 18%);
    border-radius: 10px;
    z-index: 1;
}

.button-footer {
    padding: 13px 30px;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border-radius: 32px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    z-index: 1;
    margin-left: 30px;
}

.button-footer:hover {
    background:hsl(176, 68%, 64%);
}

.input {
    padding: 15px 150px;
    border-radius: 32px;
    background: white;
    border: none;
}

.input::placeholder {
    position: relative;
    right: 120px;
}

.red-p {
    color: hsl(0, 100%, 63%);
    text-align: center;
    position: relative;
    right: 210px;
}

.footer {
    width: 100%;
    height: 500px;
    background: hsl(216, 53%, 9%);
    position: relative;
    top: 325px;
}

.footer-row {
    display: flex;
    position: relative;
    top: 200px;
    justify-content: center;
    align-items: center;
}

.footer-col {
    flex-basis: 18%;
}

.footer-col img {
    width: 150px;
}

.location {
    position: relative;
    top: 30px;
    color: white;
}

.footer-p {
    position: relative;
    bottom: 10px;
    left: 30px;
    color: white;
    line-height: 1.8;
}

.wrap {
    position: relative;
    left: 155px;
}

.phone {
    position: relative;
    color: white;
    top: 50px;
}

.phone-number {
    position: relative;
    left: 30px;
    top: 18px;
    color: white;
}

.envelope {
    position: relative;
    color: white;
    top: 38px;
}

.email {
    position: relative;
    left: 30px;
    bottom: -5px;
    color: white;
}

.wrap-links {
    position: absolute;
    bottom: 20px;
    left: 155px;
}

.wrap-links ul li {
    margin-bottom: 20px;
}

.wrap-links ul li a{
    text-decoration: none;
    color: white;
}
.wrap-links ul li a:hover {
    font-weight: 700;
}

.second-wrap-links {
    position: absolute;
    bottom: 60px;
    left: 35px;
}

.second-wrap-links ul li {
    margin-bottom: 20px;
}

.second-wrap-links ul li a{
    text-decoration: none;
    color: white;
}
.second-wrap-links ul li a:hover {
    font-weight: 700;
}

.social-icons {
    position: relative;
    bottom: 13px;
}

.social-icons .fab {
    margin-left: 15px;
    color: white;
    transition: 300ms ease-in-out;
}

.social-icons .fab:hover {
    color: hsl(176, 68%, 64%);
}

.footer-h3 {
    font-size: 20px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

@media(min-width: 767px)  {
    .hide-for-desktop {
        display: none;
    }
}

@media(max-width: 768px) {
    .hide-for-mobile {
        display: none;
    }

    html, body {
        overflow-x: hidden;
    }

    nav img {
        width: 100px;
    }

    .nav-links ul li {
        padding: 8px 10px;
    }

    .intro {
        width: 100%;
        z-index: 1;
    }

    .h3-align-mobile {
        font-size: 30px;
        color: white;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        z-index: 1;
    }

    .first-section {
        top: 80px;
        position: relative;
    }

    .curvy-mobile {
        position: absolute;
        top: 425px;
        width: 100%;
    }

    .background {
        top: -165px;
        height: 4500px;
    }

    .row {
        position: relative;
        top: 400px;
        flex-direction: column;
    }

    .col {
        margin-top: 50px;
    }

    .second-row {
        top: 350px;
        position: relative;
        flex-direction: column;
    }

    .second-col {
        margin-top: 50px;
    }

    .third-row {
        position: relative;
        top: 450px;
        flex-direction: column;
        margin: 10px;
    }

    .stay-productive {
        width: 100%;
    }

    .h2-align {
        font-size: 23px;
    }

    .semi-colon {
        width: 12%;
        top: 640px;
        left: 20px;
    }

    .fourth-row {
        position: relative;
        top: 400px;
        flex-direction: column;
    }

    .fourth-col {
        width: 90%;
        margin-top: 32px;
        box-shadow: 0 0 20px 0 hsl(217, 28%, 15%);
    }

    .fourth-p {
        position: relative;
        left: 30px;
    }

    .only-flex {
        top: 0px;
    }

    .align-box {
        top: 850px;
    }

    .box-background {
        width: 90%;
        height: 400px;
    }

    .footer-h3 {
        font-size: 20px;
        color: white;
        font-family: 'Raleway', sans-serif;
        position: relative;
        top: 20px;
    }

    .input {
        padding: 15px 30px;
        border-radius: 32px;
        background: white;
        border: none;
        position: relative;
        top: 30px;
    }

    .input::placeholder {
        right: 0;
    }

    .button-footer {
        padding: 13px 48px;
        margin-left: 0;
        margin-top: 32px;
        position: relative;
        top: 20px;
    }

    .footer-p-box {
        position: relative;
        top: 20px;
        left: 0;
    }

    .footer {
        position: relative;
        top: 700px;
        height: 1000px;
    }

    .footer-row {
        flex-direction: column;
    }

    .footer-p {
        top: -10px;
        left: 40px;
    }

    .wrap {
        left: -75px;
    }

    .wrap-links {
        top: 100px;
        left: -120px;
        margin: -60px;
    }

    .second-wrap-links {
        top: 300px;
        margin: -80px;
        left: -100px;
    }

    .social-icons {
        top: 400px;
    }
}